# pytorch
--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.9.0+cu128
torchvision==0.24.0+cu128
onnxruntime-gpu==1.22.0
nvidia-nccl-cu12==2.27.5; sys_platform == "linux"

# optimizers
bitsandbytes==0.46.0 # bitsandbytes for 8-bit optimizers and weight quantization
